<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/sawdust.alpha/src/main/java/sawdust.alpha/sawdust/alpha/AlphaMain.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="sawdust.alpha.AlphaMain"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="sawdust.alpha"/>
</launchConfiguration>
